.queryBody {
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

/* .divGridRow {
    background-color: lightblue;
} */

.divGridBox {
    /* background-color: lightseagreen; */
    justify-content: space-between;
    align-items: center;
    display: inline-grid;
}

.divGridBox:hover {
    background-color: lightseagreen;
}