* {
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    background-color: lightgray;
}

.divCanvas {
    display: flex;
    background-color: white;
    border: 1px solid lightseagreen;
    border-radius: 4px;
    height: 500px;
    width: 500px;
    flex-direction: row;
    align-content: center;
}

.divGridRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.divGridBox {
    flex: auto;
}