* {
    box-sizing: border-box;
}

.queryBody {
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
}

.divGridRow {
    display: flex;
}

.divGridBox {
    justify-content: space-between;
    align-items: center;
    display: inline;
    transition: all 3600s ease-out;
}

.divGridBox:hover {
    background-color: lightseagreen;
    transition: all 0.01s ease-out;
}

[class *= "button"] {
    margin-bottom: 1em;
    margin-right: 1em;
}